.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  background-color: rgba(100, 200, 50, 0.3);
  padding: 0 20px 0 20px;
  outline: 5px solid rgba(100, 200, 50, 0.3);
  outline-offset: -5px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview-medium___img {
  max-width: 150px;
  max-height: 250px;
  min-height: 250px;
}

.fighter-img-preview___left-to-right {
  transform: rotateY(180deg);
}

.fighter-preview-name {
  background: linear-gradient(180deg, #ba0303 33%, #1e2125 66%, #e9573f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52px;
  font-weight: bold;
}

.fighter-preview-health,
.fighter-preview-attack,
.fighter-preview-defense {
  font-size: 22px;
  color: #1e2125;
  font-weight: bold;
}
